
#login-box, #create-box, #list-box {

    display: flex;
    flex-direction: column;
    max-width: 600px;
    border: 1px solid black;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    margin-bottom: 50px;
}

#login-box {
    margin-top: 50px;
}

#login-form, #create-contact, #get-contacts {
    margin-bottom: 20px;
}

#contacts-list button {
    margin-left: 7px;
    align-items: right;
}

#contacts-list li {
    margin-bottom: 15px;
}